body {
    margin: 0;
    padding: 0;
    background-image: url(img/photo-bosque.jpg);
  font-family: 'Cookie';
}

/*Modifica el tìtulo de proBosques, lo centra sin un padding ni margin y con letra Cookie*/
h1{
  font-family: 'Cookie', cursive;
  font-size: 4em;
  color: #fff;
  opacity: 0.8;
  text-align: center;
  padding: 0;
  margin: 0;
}

img.mensaje{
  width : 70px;
  height: 70px;

}

/*Modifica el slogan de proBosques, lo centra sin un padding ni margin*/
.bio{
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  }

  #segunda-parte{
    display:none;
  }

/*---------------------Primera Parte-----------------------------------------*/

.cont-connecting{
  width : 100%;
  height: 70%;
}

img.connecting{
  width : 30%;
  height: 50%;
  position: absolute;
  top: 30%;
  left: 10%;

}

.descripcion{

  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 1.5em;
  color: #fff;

}

/*Aquí comienza el estilo del formulario de ingreso de sesión, sus inputs y botòn de Entrar*/
/* cont1 contiene dentro al formulario*/
.cont1{
  position: absolute;
  top: 30%;
  right: 10%;
  width: 50%;
max-width: 450px;
 height: auto;
 background-color: #F5F9F6;
 opacity: 0.6;
 margin: 1% auto;   /*Margen para que se junte al slogan*/
 padding-bottom: 1rem;
 border-radius: 5px; /*borde para que se redondee el contenedor de ingreso*/

}



/*Tamaño y estilo de "Iniciar sesiòn"*/
h2 {
 width: 100%;
 text-align: center;
 padding: 1rem;
 margin: 0;
 /*color: #7FA582;*/
 font-weight: bold;
}


.form-ingreso{
 padding: 0 2rem;
 display: flex;  /*coloca los inputs uno debajo de otro*/
 flex-direction: column;   /*Coloca los inputs en dos columnas de 2x2*/
 justify-content: center;
}

.form-reg{
 padding: 0 2rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.btn-form{
 display: flex;
 justify-content: space-around;
 margin-top: 1rem;
}



#input-name, #input-mail, #input-pass, #input-offset, #boton-ingresar{
 background-color: #F5F9F6;
 padding: .5rem;
 margin: .5rem 0;
 border:none;
 border-bottom: solid #cac8c8 .2rem;
 transition: all .5s;
}

/*La línea inferior de cada input se colorea verde fuerte*/
.input:focus{
 border-bottom: solid #7FA582 .2rem;
}

#boton-ingresar{
 width: 40%;
 border-bottom: none;
 background-color: #90B299;
 color: white;
}


#boton-ingresar: hover{
 background-color: #EED929;

}



.crear-cuenta{
  text-align: right;
  font-size: 20px;
}

/*-------------CONTENEDOR DE CONTACTOS Y CHATS-----------------------------*/
/*Contenedor de las conversaciones del chat, está centrado y de ancho mide 350%*/
.cont2{
 max-width: 900px;
 height: auto;
 background-color: #2eb85c; /*verde*/
 opacity: 0.9;
 /*background-color: yellow;*/
 margin: 5% auto; /*lo centra de los 4 lados*/
 border-radius: 5px;
}

/*Texto de Bienvenida que es sustituido por el nombre del usuario que se ingrese*/
#welcome{
  color: #080D09;
  opacity: 0.5;
  font-size: 40px;
}

#mensajes-usuario{
  color: #080D09;
  opacity: 0.8;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

#boton-codifica, #boton-descifra{
  background-color: #2eb85c;
  height: 35px;
  weight: 30px;
  border: none;
}


/*Damos anchura del menúy márgenes de la lista.*/
#menu_conversaciones{
  width: 350px;
  height: 560px;
  background:#020603;
  float:left;
  overflow: hidden;  /*Nos permite respetan el espacio del contenedor de chats*/
  display: inline;   /*Nos permite tener a un lado el contenedor de chats*/
}


#menu_conversaciones ul {
  margin:auto;
  width 100%;
  padding-top: 10px;
}


#menu_conversaciones ul a{
  text-decoration: none; /*quitamos las viñetas del menú*/
  display: block;
  padding: 14px;
  color: #476F52;
  font: bold 16px;
  font-family: 'Nunito Sans', sans-serif;
  border-bottom:1px solid #f2f2f2;
  transition: background .6s, color .6s;
  border-radius: 5px;   /*redondea el border al seleccionar el contacto*/
}

#menu_conversaciones ul a:hover{
  background:#f2f2f2;
  color: #FACC2E;
}

/*-----------------Mensajes de chat CIFRADO/DESCIFRADO -------------------------*/
.contChat{
max-width: 600px;
height: 550px;
background-color: #F5F9F6;
margin: 0;
padding-bottom: 1rem;
overflow: hidden;
}

/*Nombre del contacto a quien se le escibe el mensaje*/
.chat-Contacto{
font-size: 20px;
padding-left: 1rem;
padding-bottom: 1rem;
}


#texto-original{
padding-left: 15rem;
padding-right: 2rem;
}

/*Contiene al párrafo en donde se encuentra el input texto-original*/
#texto-chat{
  border-radius: 3px;
  width:200px;
  height: 30px;
  background: #ADAEAB;
  radius: 6px;

}

/*Lugar en donde va a aprecer el mensaje ingresado por el usuario sin descifrar contiene input e imagen*/
.texto-der{
  position: relative;
  left: 250px;
  padding: 0;
  margin: 0;
}

/*Botón codifica ubicado a la derecha del chat*/
#boton-codifica{
  position: relative;
  left: 450px;
  padding: 0;
}


.texto-izq, .texto-izquierdo{
  position: relative;
  left: 100px;

}

/*Lugar en donde aparecen los mensajes cifrado y descifrado a lado izquierdo. Es la contestación de la persona con la que hablamos*/
#texto-cifrado{
  width:200px;
  height: 30px;
}

#texto-descifrado{
  width:200px;
  height: 30px;
}

#boton-descifra{
  position: relative;
  left: 100px;
  padding: 0;
}
