body {
    margin: 0;
    padding: 0;
    background-image: url(img/photo-bosque.jpg);
  font-family: 'Cookie';
}

/*Modifica el tìtulo de proBosques, lo centra sin un padding ni margin y con letra Cookie*/
H1{
  font-family: 'Cookie', cursive;
  font-size: 4em;
  color: #fff;
  opacity: 0.8;
  text-align: center;
  padding: 0;
  margin: 0;
}

img.mensaje{
  width : 70px;
  height: 70px;

}

/*Modifica el slogan de proBosques, lo centra sin un padding ni margin*/
.bio{
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  }



.cont-connecting{
  width : 100%;
  height: 70%;
}

img.connecting{
  width : 30%;
  height: 50%;
  position: absolute;
  top: 30%;
  left: 10%;

}

.descripcion{

  position: absolute;
  bottom: 15%;
  left: 5%;
  font-size: 1.5em;
  color: #fff;

}

/*Aquí comienza el estilo del formulario de ingreso de sesión, sus inputs y botòn de Entrar*/
/* cont1 contiene dentro al formulario*/
.cont1{
  position: absolute;
  top: 30%;
  right: 10%;
  width: 50%;
max-width: 450px;
 height: auto;
 background-color: #F5F9F6;
 opacity: 0.6;
 margin: 1% auto;   /*Margen para que se junte al slogan*/
 padding-bottom: 1rem;
 border-radius: 5px; /*borde para que se redondee el contenedor de ingreso*/

}

/*A la imagen se le coloca propiedad de bloque para que pueda centrarse con auto*/
img.profile{
  display: block;
  margin: auto;
}

/*Tamaño y estilo de "Iniciar sesiòn"*/
h2 {
 width: 100%;
 text-align: center;
 padding: 1rem 0 0;
 margin-bottom: 1rem;
 /*color: #7FA582;*/
 font-weight: bold;
}


.form-ingreso{
 padding: 0 2rem;
 display: flex;  /*coloca los inputs uno debajo de otro*/
 flex-direction: column;   /*Coloca los inputs en dos columnas de 2x2*/
 justify-content: center;
}

.form-reg{
 padding: 0 2rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.btn-form{
 display: flex;
 justify-content: space-around;
 margin-top: 1rem;
}



#input-name, #input-mail, #input-pass, #input-offset, .btn-submit, #boton-entrar{
 background-color: #F5F9F6;
 padding: .5rem;
 margin: .5rem 0;
 border:none;
 border-bottom: solid #cac8c8 .2rem;
 transition: all .5s;
}

/*La línea inferior de cada input se colorea verde fuerte*/
.input:focus{
 border-bottom: solid #7FA582 .2rem;
}
.btn-submit, #boton-entrar{
 width: 40%;
 border-bottom: none;
 background-color: #90B299;
 color: white;
}

.btn-submit:hover{
 background-color: #EED929;

}

#boton-entrar: hover{
 background-color: #EED929;

}



.crear-cuenta{
  text-align: right;
  font-size: 20px;
}

/*-------------CONTENEDOR DE CONTACTOS Y CHATS-----------------------------*/
/*Contenedor de las conversaciones del chat, está centrado y de ancho mide 350%*/
.cont2{
 max-width: 900px;
 height: auto;
 /*background-color: #F5F9F6;*/
 background-color: yellow;
 margin: 5% auto;
 padding-bottom: 1rem;

}

/*Damos anchura del menú, quitamos las viñetas y márgenes de la lista.*/
#menu_conversaciones{
  width: 350px;
  height: 560px;
  background: #A6CAB0;
  float:left;
  overflow: hidden;
  display: inline;

}


#menu_conversaciones ul {
  margin:auto;
  width 100%;
  padding-top: 10px;
}


#menu_conversaciones ul a{
  text-decoration: none;
  display: block;
  padding: 14px;
  color: #476F52;
  font: bold 16px;
  font-family: 'Nunito Sans', sans-serif;
  border-bottom:1px solid #f2f2f2;
  transition: background .6s, color .6s;
  border-radius: 5px;   /*redondea el border al seleccionar el contacto*/
}

#menu_conversaciones ul a:hover{
  background:#f2f2f2;
  color: #FACC2E;

}



/*CHAT*/
form, p, span {
    margin:0;
    padding:0; }

input {
  font:12px arial;
 }


a {
    color:#0000FF;
    text-decoration:none; }

    a:hover { text-decoration:underline; }



/*------------------Estilo de la lupa de busqueda-------------------*/


/*-----------------Mensajes de chat CIFRADO/DESCIFRADO -------------------------*/
.contChat{
max-width: 600px;
height: 550px;
/*background-color: #F5F9F6;*/
background-color: red;
/*margin: 5% auto;*/
margin: 0;
padding-bottom: 1rem;
overflow: hidden;


}
